.answer-container {
  padding: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px #ccc;
  width: 50%;
  margin: 0 auto 12px;
  // background-color: #36d1e6;

  &:hover {
    filter: brightness(50%);
  }
}
