.score {
  // padding-top: 30px;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 22px;
  box-shadow: 1px 1px 4px 1px #ccc;
}

.play-again {
  margin: 24px auto;
  background: aquamarine;
  max-width: 162px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px #ccc;

  &:hover {
    filter: brightness(107%);
  }
}
